
/* Change the color of links on hover */
.topnav a:hover {
  background-color:black;
  color: black;
}

/* Add a color to the active/current link */
.topnav a:active {
  background-color:black;
  color: white;
}

.logo{
  font-weight: bold;
  text-shadow: 4px 4px black;
}

.hd h1{
	padding-top:130px;
	font-size: 50px;
	font-weight:bold;
	color:black;
	font-family:cursive;
}
.hd h5{
	font-family: cursive;
  padding-bottom:40px;
}



div.img img{
	width:25%;
	height:98vh;
}

p.one {
  border-style: solid;
  border-color: blue; /* red */
}

p.two {
  border-style: solid;
  border-color: red; /* blue */
}

p.three {
  border-style: solid;
  border-color: yellow; /* grey */
}

p.four {
  border-style: solid;
  border-color: forestgreen; /* red */
}

p.five {
  border-style: solid;
  border-color: orangered; /* blue */
}

p.six {
  border-style: solid;
  border-color: deeppink; /* grey */
}

p.seven {
  border-style: solid;
  border-color: darkviolet; /* grey */
}



.block {
	margin-left:26%;
		height:100vh;
}

button {width:25%;
margin-top:40px;
color:white;}


.footer{
	margin-top:60px;
	height: 60px;
	
}

.footer h5{
	line-height: 60px;
	color:black;
}

@media(max-width: 479px){
  
div.img img{
  width:0%;
  height:auto;
  align-items:center;
}
.block {
  margin-left:2%;
    height:200vh;
  margin-right:2%;  
}

button {width:100%;
margin-top:0px;
color:white;
}

.footer{
  margin-top:0px;
  height: 125px;
  
}

.footer h5{
  line-height: 60px;
  color:black;
}


}

